<!-- <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Kilaza</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tigar of model.tigrovi">
      <td>{{tigrovi.id}}</td>
      <td>{{tigrovi.ime}}</td>
      <td>{{tigrovi.kilaza}}</td>
    </tr>
  </tbody>
</table> -->

<div class="form-group">
  <label>Search:</label>
  <input class="form-control" [(ngModel)]="searchString"/>
  </div>
  <table style="width:100%;table-layout: fixed;">
      <tr>
        <th *ngFor="let column of conf">{{column.label}}</th>
        <th></th>
      </tr>
      <tr>
        <td *ngFor="let column of conf"><input/></td>
      </tr>
      <tr *ngFor="let tigar of model.tigrovi | filterPoStringu:searchString">
        <td *ngFor="let column of conf">{{tigar[column.key]}}</td>
        <td><button class="btn btn-danger" (click)="obrisiTigra(tigar.id)">X</button></td>
        <td><button class="btn btn-primary" (click)="editujTigra(tigar.id)">Edit</button></td>
      </tr>
  </table>