<div class="col-md-12">
    <div class="form-group">
        <label>Ime</label>
        <input [(ngModel)]="noviTigar.ime" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kilaza</label>
        <input [(ngModel)]="noviTigar.kilaza" class="form-control" type="number" />
    </div>
    
</div>
<button (click)="dodajTigra()">Dodaj</button>
