<div class="container">
    <aheader></aheader>
    <amenu></amenu>
    <asidebar></asidebar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <afooter></afooter>
</div>
