<div class="main_nav">	
  <div class="sub_menu">
    <div>Menu</div>
      <a *ngFor="let link of model.linkovi" (click)="model.goToPath(link.putanja)">{{link.naziv}}</a>
  </div>

  <div class="sub_menu">
    <div>Latest entries</div>
    <a href=""><li>June 26, 2006</li></a>
    <a href=""><li>June 25, 2006</li></a>
    <a href=""><li>June 24, 2006</li></a>
  </div>
  
</div>